<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,101}</string>
                <key>spriteSourceSize</key>
                <string>{70,101}</string>
                <key>textureRect</key>
                <string>{{2,2},{70,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,101}</string>
                <key>spriteSourceSize</key>
                <string>{70,101}</string>
                <key>textureRect</key>
                <string>{{74,2},{70,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,101}</string>
                <key>spriteSourceSize</key>
                <string>{70,101}</string>
                <key>textureRect</key>
                <string>{{146,2},{70,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,101}</string>
                <key>spriteSourceSize</key>
                <string>{70,101}</string>
                <key>textureRect</key>
                <string>{{2,105},{70,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,101}</string>
                <key>spriteSourceSize</key>
                <string>{70,101}</string>
                <key>textureRect</key>
                <string>{{74,105},{70,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,101}</string>
                <key>spriteSourceSize</key>
                <string>{70,101}</string>
                <key>textureRect</key>
                <string>{{146,105},{70,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,101}</string>
                <key>spriteSourceSize</key>
                <string>{70,101}</string>
                <key>textureRect</key>
                <string>{{2,208},{70,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,101}</string>
                <key>spriteSourceSize</key>
                <string>{70,101}</string>
                <key>textureRect</key>
                <string>{{74,208},{70,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card3_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,101}</string>
                <key>spriteSourceSize</key>
                <string>{70,101}</string>
                <key>textureRect</key>
                <string>{{146,208},{70,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,101}</string>
                <key>spriteSourceSize</key>
                <string>{70,101}</string>
                <key>textureRect</key>
                <string>{{2,311},{70,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,101}</string>
                <key>spriteSourceSize</key>
                <string>{70,101}</string>
                <key>textureRect</key>
                <string>{{74,311},{70,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,101}</string>
                <key>spriteSourceSize</key>
                <string>{70,101}</string>
                <key>textureRect</key>
                <string>{{146,311},{70,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,101}</string>
                <key>spriteSourceSize</key>
                <string>{70,101}</string>
                <key>textureRect</key>
                <string>{{2,414},{70,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card4_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,101}</string>
                <key>spriteSourceSize</key>
                <string>{70,101}</string>
                <key>textureRect</key>
                <string>{{74,414},{70,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,101}</string>
                <key>spriteSourceSize</key>
                <string>{70,101}</string>
                <key>textureRect</key>
                <string>{{146,414},{70,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,101}</string>
                <key>spriteSourceSize</key>
                <string>{70,101}</string>
                <key>textureRect</key>
                <string>{{2,517},{70,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card5_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,101}</string>
                <key>spriteSourceSize</key>
                <string>{70,101}</string>
                <key>textureRect</key>
                <string>{{74,517},{70,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,101}</string>
                <key>spriteSourceSize</key>
                <string>{70,101}</string>
                <key>textureRect</key>
                <string>{{146,517},{70,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card6_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,101}</string>
                <key>spriteSourceSize</key>
                <string>{70,101}</string>
                <key>textureRect</key>
                <string>{{2,620},{70,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card6_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,101}</string>
                <key>spriteSourceSize</key>
                <string>{70,101}</string>
                <key>textureRect</key>
                <string>{{74,620},{70,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card6_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,101}</string>
                <key>spriteSourceSize</key>
                <string>{70,101}</string>
                <key>textureRect</key>
                <string>{{146,620},{70,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card6_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,101}</string>
                <key>spriteSourceSize</key>
                <string>{70,101}</string>
                <key>textureRect</key>
                <string>{{2,723},{70,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,101}</string>
                <key>spriteSourceSize</key>
                <string>{70,101}</string>
                <key>textureRect</key>
                <string>{{74,723},{70,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{218,826}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:133e29393949349e5bc3a7ac481a3389:32aabfb1cac1700ad314be5dfedae667:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
