<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,73},{68,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,100}}</string>
                <key>sourceSize</key>
                <string>{68,100}</string>
            </dict>
            <key>b0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{47,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,69}}</string>
                <key>sourceSize</key>
                <string>{47,69}</string>
            </dict>
            <key>b0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>b1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,73},{48,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,101}}</string>
                <key>sourceSize</key>
                <string>{48,101}</string>
            </dict>
            <key>b1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{33,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,67}}</string>
                <key>sourceSize</key>
                <string>{33,67}</string>
            </dict>
            <key>b1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>b2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,73},{71,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,102}}</string>
                <key>sourceSize</key>
                <string>{71,102}</string>
            </dict>
            <key>b2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{51,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,68}}</string>
                <key>sourceSize</key>
                <string>{51,68}</string>
            </dict>
            <key>b2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{28,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,33}}</string>
                <key>sourceSize</key>
                <string>{28,33}</string>
            </dict>
            <key>b3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,73},{72,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,102}}</string>
                <key>sourceSize</key>
                <string>{72,102}</string>
            </dict>
            <key>b3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{50,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,68}}</string>
                <key>sourceSize</key>
                <string>{50,68}</string>
            </dict>
            <key>b3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{28,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,33}}</string>
                <key>sourceSize</key>
                <string>{28,33}</string>
            </dict>
            <key>b4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,73},{72,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,102}}</string>
                <key>sourceSize</key>
                <string>{72,102}</string>
            </dict>
            <key>b4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{50,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,68}}</string>
                <key>sourceSize</key>
                <string>{50,68}</string>
            </dict>
            <key>b4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>b5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,73},{71,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,101}}</string>
                <key>sourceSize</key>
                <string>{71,101}</string>
            </dict>
            <key>b5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{50,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,68}}</string>
                <key>sourceSize</key>
                <string>{50,68}</string>
            </dict>
            <key>b5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>b6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,73},{64,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,102}}</string>
                <key>sourceSize</key>
                <string>{64,102}</string>
            </dict>
            <key>b6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{45,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,69}}</string>
                <key>sourceSize</key>
                <string>{45,69}</string>
            </dict>
            <key>b6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{28,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,33}}</string>
                <key>sourceSize</key>
                <string>{28,33}</string>
            </dict>
            <key>b7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,73},{67,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,102}}</string>
                <key>sourceSize</key>
                <string>{67,102}</string>
            </dict>
            <key>b7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{46,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,68}}</string>
                <key>sourceSize</key>
                <string>{46,68}</string>
            </dict>
            <key>b7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>b8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,73},{71,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,102}}</string>
                <key>sourceSize</key>
                <string>{71,102}</string>
            </dict>
            <key>b8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{50,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,68}}</string>
                <key>sourceSize</key>
                <string>{50,68}</string>
            </dict>
            <key>b8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{28,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,33}}</string>
                <key>sourceSize</key>
                <string>{28,33}</string>
            </dict>
            <key>b9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,73},{65,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,101}}</string>
                <key>sourceSize</key>
                <string>{65,101}</string>
            </dict>
            <key>b9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,2},{45,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,68}}</string>
                <key>sourceSize</key>
                <string>{45,68}</string>
            </dict>
            <key>b9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{28,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,33}}</string>
                <key>sourceSize</key>
                <string>{28,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>number.png</string>
            <key>size</key>
            <string>{741,209}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e46bd184a71332af65b973a5e98410e:79940ad8d057f2393ecd799280b8d41e:d500031a6472c6b000cd39ee9d0775a8$</string>
            <key>textureFileName</key>
            <string>number.png</string>
        </dict>
    </dict>
</plist>
